@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
html {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #f6f6f6;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

h2 {
  font-family: Helvetica, arial, sans-serif;
}

.header {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f6f6f6;
  border-bottom: 1px solid #aaa;
}

.header button {
  border: none;
  background-color: transparent;
  font-size: 3.5em;
  font-family: 'Roboto', helvetica, arial, sans-serif;
  color: blue;
  font-weight: 100;
  min-width: 40px;
}

button:active {
  background-color: transparent;
  color: rgba(0, 0, 255, 0.1);
}

button:focus {
  outline: none;
}

ul {
  margin: 0;
  list-style: none;
  font-size: 1.2em;
  padding: 0;
  background-color: white;
}

ul li {
  margin: 0;
  border-bottom: 1px solid #aaa;
  padding: 20px;
}

.active-li {
  background-color: #ccc;
}

body {
  background-color: #f2f2f2;
}

.top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  margin: 10px;
}

#edit {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-column-align: end;
      justify-self: end;
}

.top button {
  background-color: transparent;
  border: none;
  color: blue;
  font-size: 1.2em;
  white-space: nowrap;
  padding: 10px;
}

.top button:active {
  color: rgba(0, 0, 255, 0.1);
}

.nameCard {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.nameCard h2 {
  text-align: center;
}

img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 100%;
  background-color: #ccc;
  text-indent: -9999px;
}

p {
  margin: 0;
}

.infoBlock {
  background-color: white;
  margin: 15px;
  border-radius: 10px;
  padding: 10px 20px;
}

.infoBlock:last-of-type {
  min-height: 100px;
}

.infoContent {
  font-size: 1.2em;
  padding-top: 2px;
}

.edit-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
}

.edit-header h2 {
  text-align: center;
}

.edit-header button {
  background-color: transparent;
  border: none;
  color: blue;
  font-size: 1.2em;
}

.profile-pic-div {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.profile-pic-div label {
  display: block;
  text-align: center;
  font-size: 1.2em;
  padding: 15px;
  color: blue;
}

.form label, textarea {
  display: block;
}

.form label {
  position: relative;
}

.form label:nth-of-type(2), .form label:nth-of-type(3), .form label:nth-of-type(4), .form label:nth-of-type(5) {
  margin-bottom: 44px;
}

.form input, .delete, textarea {
  font-size: 1.2em;
  display: block;
  width: 100%;
  margin: 0;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  border-left: none;
  border-right: none;
  padding: 10px 20px;
  padding-top: 28px;
}

.label {
  padding-left: 20px;
  position: absolute;
  top: 5px;
  color: grey;
}

textarea {
  width: 100%;
  min-height: 100px;
  margin-bottom: 44px;
}

textarea:focus {
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}

form .delete {
  text-align: left;
  padding: 10px 20px;
  background-color: white;
  margin-bottom: 44px;
  color: red;
}

@media (min-width: 500px) {
  body {
    width: 375px;
    height: 600px;
    border: 5px solid black;
    border-radius: 30px;
    margin: 20px auto;
    overflow-y: scroll;
  }
  body::before {
    content: "This app is mean to be viewed on a mobile touchscreen device. Some features may not work when viewed on a desktop computer.";
    display: block;
    padding: 20px;
    border: 4px solid red;
    margin: 10px;
    background-color: rgba(255, 0, 0, 0.1);
  }
}
/* Comment */
/*# sourceMappingURL=style.css.map */