@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
/* Color Theme Swatches in Hex */
.LSDG-2-1-hex { color: #FFFFFF; }
.LSDG-2-2-hex { color: #AEAEAE; }
.LSDG-2-3-hex { color: #E64C66; }
.LSDG-2-4-hex { color: #2B3950; }
.LSDG-2-5-hex { color: #1BBC9B; }


* {
    font-family: "Montserrat", "Helvetica", sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
    display: flex;
    flex-direction:column;
    height: 95vh;
    overflow: hidden;
    width: 100vw;
}

.wrapper{
    margin: 0;
    display: flex;
    flex-direction:column;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
    position: fixed;
}


main{
    flex: 1;
    background-color: white;
    overflow: scroll;
}

header h1, header h2{
    margin: 0;
}

header h1{
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 10px;
}

header h2{
    font-size: 1.2rem;
    text-align: center;
    font-weight: 300;
}

header div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header{
    display: flex;
    background-color: #2B3950;
    width: 100vw;
    padding: 10px;
    color:#FFFFFF;
    box-shadow: 10px 13px 16px -10px rgb(129, 129, 129);
}

header img{
    height: 125px;
    width: 125px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 20px;
    border: 8px solid #E64C66;
}

ul{
    padding-left: 0;
    list-style-type: none;
    
}

ul li{
    width: fit-content;
    font-size: 1.2rem;
    cursor: pointer;
    border: 4px solid #E64C66;
    border-right: none;
    border-radius: 10px 0px 0px 10px;
    padding: 10px 20px;
    /* background-color: rgb(241, 241, 222); */
    /* background-color: #60eed2; */
    background-color: white;
    position: relative;
    margin: auto 0 10px auto;
}

ul li a{
    display: block;
    width: 100%;
    color: #2B3950;
    text-decoration: none;
}

footer{
    margin-bottom: 0;
    padding: 10px;
    background-color: #2B3950;
    color: #FFF;
    font-weight: 300;
    position: relative;
    padding-bottom: 45px;

}

footer p{
    margin: 0;
    
}

.circle{
    width: 600px;
    height: 600px;
    /* border: 20px solid #E64C66; */
    background-color: #E64C66;
    border-radius: 100%;
    position: absolute;
    top: 52%;
    left: 20px;
    
}